body{
    background-image: url(360_F_509854035_W21rTwRsVVAgNq9djRvaqiUSciX1px8K.jpg);
    background-attachment: fixed;
    background-size: cover; 
    background-repeat: no-repeat
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    letter-spacing: .1cap;
}
img{
    display: block;
    margin-left: 61.5%;
    height: 250px;
    filter: grayscale(100%);
}
hr{
    width: 660px;
    height: 2px;
    border-color: black;
    background-color: black;
}
.message3{
    display: flex;
    justify-content: center; 
    align-items: flex-start;  
    gap: 30px;            
    margin-top: 10px;
}
.box{
    background-color: black;
    width: 200px;
    height: 300px;
}
h3{
    color: white;
    text-align: center;
    margin-top: 5px;
}
.Main{
    display: flex;
    justify-content: center; 
    align-items: flex-start;            
}
.Message1{
    background-color: black;
    width: 657px;
    
}
section{
}
section::before{

}
fieldset{
    width: 590px;
    margin: auto;
    padding: 2rem;
    background-color: black;
    color: white;
    text-align: justify;
}