h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    letter-spacing: .1cap;
}
img{
    display: block;
    margin-left: 61.5%;
    height: 250px;
    filter: grayscale(100%);
}
.message{
    background-color: black;
    border-color: black;
    border-width: 1px;
    width: 635px;
    margin: auto;
    color: white;
    text-align: center;
}
hr{
    height: 2px;
    border-color: black;
    background-color: black;
}
.message3{
    display: flex;
    justify-content: center; /* centers boxes horizontally */
    align-items: flex-start;  /* aligns boxes to the top */
    gap: 30px;                /* space between boxes */
    margin-top: 10px;
}
.box{
    background-color: black;
    width: 200px;
    height: 300px;
}
h3{
    color: white;
    text-align: center;
    margin-top: 5px;
}
