html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header.hero{
    text-align: center;
    padding: 60px 20px; 
    background-image: url(360_F_509854035_W21rTwRsVVAgNq9djRvaqiUSciX1px8K.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
}
header.hero h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin: 0;
    text-shadow: 5px 5px 10px black;
}
header.hero h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin: 10px 0 0;
    text-shadow: 5px 5px 10px black;
}
.top-nav{
    background-color: #111;
    text-align: center;
    padding: 10px 0
}
.top-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    gap: 200px;  
}
.top-nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.dark-bg{
    background-color: #111;
}
h1, h2, hr, fieldset, div{
    isolation: isolate;
}
.container{
    max-width: 900px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1)
}
.container2{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
hr{
    height: 2px;
    border-color: black;
    background-color: black;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}
.box{
    background-color: black;
    border: white 1px solid;
    padding: 20px;
    flex: 1 1 250px;
    height: 300px;
}
.box h3{
    text-align: center;
    margin-top: auto;
}
.Sections2{
    padding: 60px 20px;
}
.image{
   border: 3px solid white;
    border-radius: 8px;
    margin-bottom: 20px;
    height: auto;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text p{
    line-height: 1.6;
    text-align: justify;
}
.dark-bg{
    background-color: #111;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
  .top-nav ul {
    flex-direction: column;
  }
}
footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2em;
}